div.Contador input {
    font-size: 1.4rem;
}

div.Contador button {
    font-size: 1.4rem;
    margin: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: #f00;

}